<!DOCTYPE html>
<head>
<title>MMU InfoHUB</title>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<style>


</style>
</head>
<body>

<header>
    <h1>MMU InfoHUB</h1>
</header>
<div class="navigationBar">
<ul><br>
    <li><a href= >HOME</a></li><br>
    <li><a href= >LEARNING RESOURCES</a></li><br>
    <li><a href= >QUEST BOARD</a></li><br>
    <li><a href= >CONTACT</a></li><br>
    </li><a href="{{ url_for('login') }}" class="btn-link">LOGIN</a>
</li><br>
    <li style="font-size: x-small;">Copyright &#169; 2026 Mini IT Project G067</li>
</ul>
</div>

<div id="task"><h2>HOME</h2></div>


<div class="content">
    {% include "flash.html" %}
    <h2 id="subtask">LATEST EVENTS! </h2><br>

</div>


</div>

</body>
</html>