<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
{% include "flash.html" %}

<h2>Verify OTP</h2>
<form method="POST" action="/otp" class="mt-3">
    <input type="hidden" name="purpose" value="{{ purpose }}">
    <input type="hidden" name="email" value="{{ email }}">
    <div class="mb-3">
        <p>We have sent an OTP to your email: <strong>{{ email }}</strong>. The OTP code will be sent to <strong>spam</strong> folder if you don't see it in your inbox.</p>
        <label>Enter OTP</label>
        <input type="text" name="otp" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Verify</button>
</form>

<hr>
<form method="POST" action="/resend_otp" class="mt-3">
    <input type="hidden" name="purpose" value="{{ purpose }}">
    <input type="hidden" name="email" value="{{ email }}">
    <button type="submit" class="btn btn-warning">Resend OTP</button>
</form>

</body>
</html>