<!DOCTYPE html>
<html>
<head>
  <title>MMU InfoHUB – Sign Up</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<script>
  /* Auto scroll down */
window.addEventListener('load', function() {
  window.scrollTo({
    top: document.body.scrollHeight,
    behavior: 'smooth'
  });
});
</script>
</head>
<body>

<header>
  <h1>MMU InfoHUB</h1>
</header>

<div class="login-center">
  <!-- SIGN UP -->
  <form method="POST" action="{{ url_for('signup') }}" id="signup-form">
    <div class="login-box">
      <h2>SIGN UP</h2>
      {% include "flash.html" %}
      <label>Email</label>
      <input type="email" id="s-email" placeholder="Enter your email" name="email"/>
      <p style="font-size: 10px;">MMU Student Email only <br> (example@student.mmu.edu.my)</p>

      <label>Username</label>
      <input type="text" id="s-user" placeholder="Choose a username" name="username"/>

      <label>Password</label>
      <input type="password" id="s-pass" placeholder="Choose a password" name="password"/>

      <label>Confirm password</label>
      <input type="password" id="s-pass2" placeholder="Repeat password" name="confirmPassword"/>
      <p>Password must be at least: <br>- 8 characters long, <br>- A uppercase letter, <br>- A lowercase letter, <br>- A number.</p><br>
      <button class="btn-main" type="submit">CREATE ACCOUNT</button><br>
      <div class="sub-links">
        <a href="{{ url_for('login') }}" class="btn-link">← Back to login</a>
      </div>
    </div>
    </div>
  </div>
  </form>
</div>

</body>
</html>
